<div class="row">
    <div class="cell-sm-4">
        <label class="fg-black">Change background: </label>
    </div>
    <div class="cell-sm-2">
        <input type='text' id="colorpicker" />
    </div>
    <div class="cell-sm-4">
        <input type="file" accept="image/*" onchange="onSelectImage(this);" data-role="file" data-caption="<span class='mif-folder-open'></span>">
    </div>
</div>