@{
    ViewData["Title"] = "Hello Runes.";
}

<div id="container" class="d-flex flex-justify-center" style="min-height: 1000px;">
    <canvas id="canvas" style="width: 1000px; height: 1000px;"></canvas>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/2-rings.js" asp-append-version="true"></script>
}